<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- plugins:css -->
  <link rel="stylesheet" href="./vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="./vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="./vendors/flag-icon-css/css/flag-icon.min.css">
  <link rel="stylesheet" href="./vendors/jvectormap/jquery-jvectormap.css">
  <!-- End plugin css for this page -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="./css/demo/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="./images/favicon.png" />
</head>
<body>
<script src="./js/preloader.js"></script>


  <div class="body-wrapper">

    <!-- partial:partials/_sidebar.html -->
  
    
    <!-- partial -->
    <div class="main-wrapper mdc-drawer-app-content">
      <!-- partial:partials/_navbar.html -->
      <header class="mdc-top-app-bar">
        <div class="mdc-top-app-bar__row">
          <div class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Raphael and Sarah's final project in BIG DATA course </span>

          </div>

        </div>
      </header>
      <!-- partial -->
      <div class="page-wrapper mdc-toolbar-fixed-adjust">
        <main class="content-wrapper">
          <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
           
              <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                  <h5 class="card-title">cars on segment 1</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">$62,0076.00</h5> 
                </div>
              </div>
            
              <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                  <h5 class="card-title">cars on segment 2</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">$62,0076.00</h5> 
                </div>
              </div>
            
              <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                  <h5 class="card-title">cars on segment 3</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">$62,0076.00</h5> 
                </div>
              </div>
            
              <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                  <h5 class="card-title">cars on segment 4</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">$62,0076.00</h5> 
                </div>
              </div>
            
              <div class="mdc-card info-card info-card--success">
                <div class="card-inner">
                  <h5 class="card-title">cars on segment 5</h5>
                  <h5 class="font-weight-light pb-2 mb-1 border-bottom">$62,0076.00</h5> 
                </div>
              </div>
            
                                                  


              
             

              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet">
                <div class="mdc-card bg-success text-white">
                  <div class="d-flex justify-content-between">
                    <h3 class="font-weight-normal">Number of cars on the road</h3>

                  </div>
                  <div class="mdc-layout-grid__inner align-items-center">
                    <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone">
                      <div>

                        <h2 class="front-weight-normal">636,757K</h2>
                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-4">
                <div class="mdc-card">
                  <div class="d-flex justify-content-between">
                    <h4 class="card-title mb-0">Plate numbers : </h4>
                  <div class="mdc-layout-grid__inner mt-2">
                    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--span-8-tablet">
                        <div class="table-responsive">
                          <table class="table dashboard-table">
                            <tbody>
                              <tr>
                                <td>
                                  <span class="flag-icon-container"></span>United States</td>
                               
                                
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"></span>Philippines	</td>
                               
                               
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"></span>United Kingdom</td>
                                
                                
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"></span>Canada</td>
                                
                                
                              </tr>
                              <tr>
                                <td> <span class="flag-icon-container"></span>France</td>
                                
                                
                              </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>

                  </div>
                </div> 
              </div>

 





  <!-- plugins:js -->
  <script src="./vendors/js/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <script src="./vendors/chartjs/Chart.min.js"></script>
  <script src="./vendors/jvectormap/jquery-jvectormap.min.js"></script>
  <script src="./vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="./js/material.js"></script>
  <script src="./js/misc.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="./js/dashboard.js"></script>
  <!-- End custom js for this page-->
</body>
</html> 