
<html>
	<title>Confusion Matrix</title>
	<style>
		.google-visualization-table-td {
			text-align: center !important;
		}
	</style>
	<head>
		<script type="text/javascript">
			google.charts.load("current", {
				packages: ["table"],
			});
			google.charts.setOnLoadCallback(function () {
				drawTable([
					[0, 0, 0, 0, 0],
					[0, 0, 0, 0, 0],
					[0, 0, 0, 0, 0],
					[0, 0, 0, 0, 0],
					[0, 0, 0, 0, 0],
				]);
			});

			var table = new google.visualization.Table(
				document.getElementById("table_div")
			);

			var options = {
				showRowNumber: false,
				width: "100%",
				height: "75%",
				title: "Confusion Matrix",
			};
		</script>

		<script>
			var socket = io();

			socket.on("new_prediction", (table, information) => {
				// alert(table)
				drawTable(table);
				// console.log(information);
				document.getElementById("info").innerHTML = information;
			});
		</script></head
	>>
</html>
